{% extends bap.layout %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% oro_title_set({ params: { '%keyword%': searchString|default('oro.search.result.empty'|trans) } }) %}
{% set gridName = 'search-grid' %}

{% block content %}
    <div class="container-fluid search-header clearfix">
        <h2>
            {% trans %}Search results{% endtrans %}
        </h2>
        <form method="get" action="{{ path('oro_search_results') }}" class="form-inline search-form">
            <input type="hidden" name="from" value="" />
            <div class="input-append">
                <input type="text" id="search" class="span2 search" name="search" value="{{ searchString }}" />
                <button type="submit" class="btn btn-search btn-primary">{{ 'Search'|trans }}</button>
            </div>
        </form>
    </div>

    <div class="oro-page collapsible-sidebar clearfix">
        <div class="oro-page-sidebar search-entity-types-column dropdown">
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                {% set searchEntities = [] %}
                {% for className, alias in entities %}
                    {% set entityType = oro_entity_config_value(className, 'label')|trans %}
                    {% set searchEntities = searchEntities|merge({(alias) : entityType}) %}
                {% endfor %}

                <li{% if not from %} class="selected"{% endif %}>
                    <a href="{{ path('oro_search_results', { search: searchString }) }}">
                        {% if not from %}<i class="icon-chevron-right pull-right"></i>{% endif %}
                        <i class="icon-search"></i>
                        {{ 'oro.search.result.all'|trans }}
                    </a>
                </li>

                {% for alias, name in searchEntities|sort %}
                    {% set selected = alias == from %}

                    {% if icons[alias] is defined %}
                        {% set iconClass = icons[alias] %}
                    {% else %}
                        {% set iconClass = 'icon-file' %}
                    {% endif %}

                    <li{% if selected %} class="selected"{% endif %}>
                        <a href="{{ path('oro_search_results', { from: alias, search: searchString }) }}">
                            {% if selected %}<i class="icon-chevron-right pull-right"></i>{% endif %}
                            <i class="{{ iconClass }}"></i>
                            {{ name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="oro-page-body search-results-column">
            <div id="search-result-grid">
                {{ dataGrid.renderGrid(gridName, {from: from, search: searchString}, { cssClass: 'search-grid grid-without-header' }) }}
            </div>
        </div>
    </div>

{% endblock %}
